<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.coolandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.chen.coolandroid.activity.CustomApplication">
        <activity android:name="com.chen.coolandroid.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.chen.coolandroid.learnui.uibase.UIBaseActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item0" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learncomponent.ComponentActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item1" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnlayout.LayoutActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item2" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learninteraction.InteractionActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item3" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learndata.activity.DataStorageActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item4" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnhttp.HttpActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item5" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnanimation.AnimationActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item6" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learndrawview.DrawViewActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item7" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnmedia.MediaActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item8" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnui.uiadvance.UIAdvancedActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item9" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnstyle.StyleActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item10" />

                <category android:name="android.intent.category.DEFAULT" /> <!--  设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnthreads.ThreadsActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item11" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name="com.chen.coolandroid.learnothers.OthersActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item12" />

                <category android:name="android.intent.category.DEFAULT" /> <!--设置 default category... -->
            </intent-filter>
        </activity>

        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryImagesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryAudiosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryVideosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryDocumentsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryArchivesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryAppsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryDownloadsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.chen.coolandroid.learndata.activity.CategoryMoreActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>