<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wk.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.UIBaseActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item0" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.ComponentActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item1" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.LayoutActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item2" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.InteractionActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item3" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.DataStorageActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item4" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.HttpActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item5" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.AnimationActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item6" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.DrawViewActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item7" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.MediaActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item8" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.UIAdvancedActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item9" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.StyleActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item10" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.ThreadsActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item11" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>
        <activity android:name=".activity.OthersActivity">
            <intent-filter>
                <action android:name="com.wk.myapplication.item12" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 不设置category还不行... -->
            </intent-filter>
        </activity>


    </application>

</manifest>