<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chen.coolandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".activity.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".learnui.uibase.UIBaseActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item0"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learncomponent.ComponentActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item1"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnlayout.LayoutActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item2"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learninteraction.InteractionActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item3"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learndata.activity.DataStorageActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item4"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnhttp.HttpActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item5"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnanimation.AnimationActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item6"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learndrawview.DrawViewActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item7"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnmedia.MediaActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item8"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnui.uiadvance.UIAdvancedActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item9"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnstyle.StyleActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item10"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnthreads.ThreadsActivity">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item11"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
        </activity>
        <activity android:name=".learnothers.OthersActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.chen.coolandroid.item12"/>

                <category android:name="android.intent.category.DEFAULT"/> <!-- 设置 default category... -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="nttn" android:host="nttn.com"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".learndata.activity.CategoryImagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learndata.activity.CategoryAudiosActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learndata.activity.CategoryVideosActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learndata.activity.CategoryDocumentsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learndata.activity.CategoryArchivesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learndata.activity.CategoryAppsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learndata.activity.CategoryDownloadsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learndata.activity.CategoryMoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".learncomponent.SecondActivity"/>
        <activity android:name=".learnui.uiadvance.DragDemoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learnui.uiadvance.HtmlTagActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".learncomponent.rxpractise.RxActivity"
            android:process=":com.chen.coolandroid.rxpractise"
            android:screenOrientation="portrait"/>
        <activity android:name=".learnthreads.AIDLTestActivity" />

        <service android:name=".learnthreads.RemoteService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>